src/First workflow.json
{
  "name": "First workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        960,
        1408
      ],
      "id": "713ca3dc-8f51-42b1-bc35-c6a1b34cd170",
      "name": "Telegram Trigger",
      "webhookId": "3c60a509-c18f-4c16-8a42-27a66ba283e9",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=We recieved a audio message",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        1136
      ],
      "id": "88cad0e2-c1f0-4d6c-af81-018591579b61",
      "name": "Debugging for Audio message",
      "webhookId": "d1c2eacf-4e0e-43db-83ba-55bb5ab7fac6",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=You have sent a text message",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        1408
      ],
      "id": "096248ef-2e8f-46f3-9b46-2a17f3b8420d",
      "name": "Debugging for Text Message",
      "webhookId": "d1c2eacf-4e0e-43db-83ba-55bb5ab7fac6",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        1216
      ],
      "id": "ce9fd1c6-a609-42b6-8298-c0914c757a98",
      "name": "Get a file",
      "webhookId": "2c3b17b9-e990-4db3-94a0-0e12f1d7d63f",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You get the following message from a customer:\"{{ $json.content.parts[0].text }}\"\n\nAdditionally you get the following information of the customer:\n\nfirst_name: {{ $('Telegram Trigger').item.json.message.chat.first_name }}\n\nusername: {{ $('Telegram Trigger').item.json.message.chat.username }}\n\nlanguage_code: {{ $('Telegram Trigger').item.json.message.from.language_code }}\n\ntelegram_id: {{ $('Telegram Trigger').item.json.message.from.id }}\n\nBased on the information write an answere to ask for the PolicyID. Only output the answere. Dont add some filler values\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3696,
        1216
      ],
      "id": "c228148a-1c24-4c79-a997-f629fa3a1658",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "EJQ3gzROb1XSD6YT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        2064,
        1216
      ],
      "id": "a8b014e4-ebe9-4094-9f4b-da35a8ab4a46",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "qjuV8Nko1t3xBXrR",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4000,
        1216
      ],
      "id": "2ad943e2-dd56-4882-84f9-5daf3fef1907",
      "name": "Ask for customerID",
      "webhookId": "ec8d1a01-a60c-48fa-989a-6c87e140c962",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2688,
        992
      ],
      "id": "18009940-4ca6-4531-97c3-005a1be5850e",
      "name": "Transcribe a recording1",
      "credentials": {
        "googlePalmApi": {
          "id": "EJQ3gzROb1XSD6YT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "tblqk1W4U1Lvyq8BM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3408,
        832
      ],
      "id": "8fde9a10-dea6-499c-be92-aac12e2d9066",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3184,
        1664
      ],
      "id": "4e242590-bf1c-4208-80c3-5ef0fc562e96",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Imagine you are a employee at a insurance company in the customer support and you are chatting with a customer. You get the following message of the customer:\n\n({{ $json.text }})\n{{ $('Telegram Trigger').item.json.message.text }}\n\nEvaluate the information you got from the customer. Use the memory which contains the previous answeres to check if it contains the PolicyID. The PolicyID has a Prefix \"POL-\". The user can write it with or without the Prefix, but we need it without.\n\nThe following steps need to be done in that order to continue:\nFirst you need the PolicyID, if you dont please only Output \"PolicyID\".\n\nIf you know the PolicyID and the customer want to change his address please Output in JSON Format like this: \n\n{\n  \"PolicyID\": \"POLICY_ID_HERE\",\n  \"Function\": \"ChangeAddress\"\n}\n\nIf you know the PolicyID and the customer want to claim a Policy, please Output in JSON Format like this: \n\n{\n  \"PolicyID\": \"POLICY_ID_HERE\",\n  \"Function\": \"ClaimPolicy\"\n}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3088,
        1440
      ],
      "id": "78c4d665-e382-4cb1-a816-1547c6d9b8be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3072,
        1664
      ],
      "id": "3b341b38-77f7-444c-bba6-84eda7b96cd5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EJQ3gzROb1XSD6YT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "944a4c09-59fb-4b76-8150-5d2266489bbd",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        1568
      ],
      "id": "9cfe8bb1-3b8c-4927-bb34-f54817e36c45",
      "name": "check for text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "944a4c09-59fb-4b76-8150-5d2266489bbd",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        1344
      ],
      "id": "f1045e7a-a99c-467e-8064-56ebab7f53c8",
      "name": "Check for Audio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "PolicyID",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6114938-f50f-4319-b1b6-d776fe2774fc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd33692c-d9af-43d8-b710-02e1441fa2e2",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "ChangeAddress",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20748fd8-7815-4b1b-8f39-17fd0d46d46e",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "ClaimPolicy",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3520,
        1488
      ],
      "id": "da81fed6-5c6f-4866-a4d8-2b4934fb5c70",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "value": "tblqk1W4U1Lvyq8BM",
          "mode": "list",
          "cachedResultName": "Policies",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt/tblqk1W4U1Lvyq8BM"
        },
        "filterByFormula": "={Policy ID} = 'POL-{{ $('JSON to Variables').item.json.PolicyID }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3968,
        1504
      ],
      "id": "8e0438dc-42ba-404a-9b22-9c3532c8e3e5",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f31d5e26-c4e4-4705-8d41-1d73e2702026",
              "leftValue": "={{ $json['Policy ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4128,
        1504
      ],
      "id": "4e59c82b-74fa-4068-b024-8693ca6de5dc",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Thank you very much for your answere, but we couldn't find your policy-Number POL-{{ $('JSON to Variables').item.json.PolicyID }} in our Database. Please write it again.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4384,
        1744
      ],
      "id": "b8d0729e-793e-4b83-926a-2db26c01c0db",
      "name": "Negative: PolicyID Wrong",
      "webhookId": "ec8d1a01-a60c-48fa-989a-6c87e140c962",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Imagine you are a employee at a insurance company in the customer support and you are chatting with a customer. You get the following message of the customer:\n\n({{ $json.text }})\n{{ $('Telegram Trigger').item.json.message.text }}\n\nYou need the Adress of the customer. If the message or the previous chat contains a possbile Adress, then please output a JSON in the following Format:\n\nIf you know the PolicyID and the customer want to change his address please Output in JSON Format like this: \n\n{\n  \"Street\": \"Street\",\n  \"City\": \"City\",\n  \"PostalCode\": \"PostalCode\",\n}\n\nIf you cant find anything, please Output \"NoAddress\"\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4736,
        1488
      ],
      "id": "aa0aa232-01aa-4f60-9a69-103ddc3d4799",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4736,
        1728
      ],
      "id": "40e286ef-46f9-490d-be08-a8e496000dcf",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EJQ3gzROb1XSD6YT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4848,
        1744
      ],
      "id": "ed5054ca-c5eb-4511-9dcc-20b9ad20b4f4",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "NoAddress",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6114938-f50f-4319-b1b6-d776fe2774fc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2f5896c-2a4b-4839-93a5-710625188a58",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        5072,
        1488
      ],
      "id": "3f8499bc-4779-49eb-bb12-dde739188fa8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Please Input a valid Address",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5328,
        1328
      ],
      "id": "867a8749-9e9e-4c19-843f-381643f7f661",
      "name": "InputAddress",
      "webhookId": "ec8d1a01-a60c-48fa-989a-6c87e140c962",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Erwartet pro Item ein Feld `ai_output` (String ODER Objekt) + irgendwo eine PolicyID.\n// Gibt pro Item einen flachen JSON-Payload zurück:\n// { \"ChangeAddress\", Street, City, PostalCode }\n\nfunction stripCodeFences(s) {\n  if (typeof s !== 'string') return s;\n  return s\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/```$/, '');\n}\n\nfunction fixTrailingCommas(s) {\n  if (typeof s !== 'string') return s;\n  // Entfernt abschließende Kommata vor schließenden Klammern/Braces\n  return s.replace(/,\\s*([}\\]])/g, '$1');\n}\n\nfunction normalizeQuotes(s) {\n  if (typeof s !== 'string') return s;\n  // Smart Quotes → normale Anführungszeichen\n  return s.replace(/[“”]/g, '\"').replace(/[‘’]/g, \"'\");\n}\n\nfunction tryParseLenient(input) {\n  if (typeof input !== 'string') return input;\n  let s = input.trim();\n  s = stripCodeFences(s);\n  s = normalizeQuotes(s);\n  s = fixTrailingCommas(s);\n  try {\n    return JSON.parse(s);\n  } catch {\n    return null;\n  }\n}\n\nfunction extractFromLooseText(text) {\n  if (typeof text !== 'string') return { Street: '', City: '', PostalCode: '' };\n\n  const get = (patterns) => {\n    for (const p of patterns) {\n      const m = text.match(p);\n      if (m && m[1]) return m[1].trim();\n    }\n    return '';\n  };\n\n  const Street = get([\n    /\"Street\"\\s*:\\s*\"([^\"]+)\"/i,\n    /Street\\s*[:=]\\s*([^,\\n]+)\\b/i,\n    /\"address\"\\s*:\\s*\"([^\"]+)\"/i,\n    /address\\s*[:=]\\s*([^,\\n]+)\\b/i,\n  ]);\n\n  const City = get([\n    /\"City\"\\s*:\\s*\"([^\"]+)\"/i,\n    /City\\s*[:=]\\s*([^,\\n]+)\\b/i,\n    /\"town\"\\s*:\\s*\"([^\"]+)\"/i,\n    /town\\s*[:=]\\s*([^,\\n]+)\\b/i,\n  ]);\n\n  const PostalCode = get([\n    /\"PostalCode\"\\s*:\\s*\"([^\"]+)\"/i,\n    /PostalCode\\s*[:=]\\s*([A-Za-z0-9\\- ]+)/i,\n    /\"zip(code)?\"\\s*:\\s*\"([^\"]+)\"/i,\n    /zip(code)?\\s*[:=]\\s*([A-Za-z0-9\\- ]+)/i,\n    /\"plz\"\\s*:\\s*\"([^\"]+)\"/i,\n    /plz\\s*[:=]\\s*([A-Za-z0-9\\- ]+)/i,\n  ]);\n\n  return { Street, City, PostalCode };\n}\n\nfunction pickFirst(...vals) {\n  for (const v of vals) {\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return '';\n}\n\nreturn items.map(item => {\n  const src = item.json.ai_output ?? item.json.output ?? item.json.ai ?? item.json; // wo die Agent-Antwort liegt\n\n  // PolicyID bestimmen (Pfad anpassen, falls nötig)\n  const policyFromContext = pickFirst(\n    item.json.policyId,\n    item.json.PolicyID,\n    (typeof src === 'object' && src) ? src.policyId : undefined,\n    (typeof src === 'object' && src) ? src.PolicyID : undefined,\n  );\n\n  let obj = null;\n\n  // A) Bereits Objekt?\n  if (src && typeof src === 'object' && ('Street' in src || 'City' in src || 'PostalCode' in src)) {\n    obj = src;\n  }\n\n  // B) JSON-String → lenient parsen\n  if (!obj && typeof src === 'string') {\n    const parsed = tryParseLenient(src);\n    if (parsed && typeof parsed === 'object') obj = parsed;\n  }\n\n  // C) Fallback: Freitext extrahieren\n  let Street = '';\n  let City = '';\n  let PostalCode = '';\n\n  if (obj) {\n    // Synonyme/alternative Keys berücksichtigen\n    Street = pickFirst(obj.Street, obj.street, obj.Address, obj.address, obj.streetAddress, obj[\"Street Address\"]);\n    City = pickFirst(obj.City, obj.city, obj.Town, obj.town);\n    PostalCode = pickFirst(obj.PostalCode, obj.postalCode, obj.zip, obj.zipcode, obj.ZIP, obj.plz, obj.PLZ);\n  } else {\n    const text = typeof src === 'string' ? src : String(src ?? '');\n    const ext = extractFromLooseText(text);\n    Street = ext.Street;\n    City = ext.City;\n    PostalCode = ext.PostalCode;\n  }\n\n  // Minimal-Validierung\n  if (!Street || !City || !PostalCode) {\n    // Für Debugging hilfreich:\n    // throw new Error(`Adresse unvollständig. Street=\"${Street}\", City=\"${City}\", PostalCode=\"${PostalCode}\". Quelle: ${typeof src === 'string' ? src.slice(0, 500) : JSON.stringify(src)}`);\n    // Statt Fehler: leere Felder zulassen – passe nach Bedarf an:\n  }\n\n\n  return {\n    json: {\n      Street,\n      City,\n      PostalCode\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        1632
      ],
      "id": "fbf6a7e0-28fd-47ec-88b1-43d23179afcb",
      "name": "Put JSON into variables"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "value": "tblDtkAbRrVkukzpm",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt/tblDtkAbRrVkukzpm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Address": "={{ $('Put JSON into variables').item.json.Street }}",
            "City": "={{ $('Put JSON into variables').item.json.City }}",
            "Zip_Code": "={{ $('Put JSON into variables').item.json.PostalCode }}",
            "Customer ID": "={{ $('Search records').item.json['Customer ID'] }}"
          },
          "matchingColumns": [
            "Customer ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zip_Code",
              "displayName": "Zip_Code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Language Preference",
              "displayName": "Language Preference",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "English",
                  "value": "English"
                },
                {
                  "name": "Spanish",
                  "value": "Spanish"
                },
                {
                  "name": "Mandarin",
                  "value": "Mandarin"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active Policies",
              "displayName": "Active Policies",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        5536,
        1648
      ],
      "id": "2ed8429b-f4f7-478e-a23f-0a7497acb379",
      "name": "Update record",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=We have changed your Address to:\n{{ $json.fields.Address }}\n{{ $json.fields.City }}\n{{ $json.fields.Zip_Code }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5808,
        1648
      ],
      "id": "27dfd9aa-dfca-4ec2-b822-68678a1a2408",
      "name": "Confirmation of Changing the Address",
      "webhookId": "ec8d1a01-a60c-48fa-989a-6c87e140c962",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) node in n8n\n// Erwartet pro Item ein Feld `ai_output` (String ODER Objekt).\n// Gibt pro Item ein JSON-Objekt mit { PolicyID, Function } zurück.\n\nfunction tryParseJsonMaybe(str) {\n  if (typeof str !== 'string') return str;\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nfunction extractFromLooseText(text) {\n  if (typeof text !== 'string') return { PolicyID: '', Function: '' };\n\n  // Beispiel: {\"PolicyID\": \"92863673\", \"Function\": \"ChangeAddress\"} ohne sauberes JSON\n  // oder: PolicyID: 92863673; Function: ChangeAddress\n  // oder: Zeilenweise Ausgabe etc.\n\n  // 1) PolicyID: Zahl oder alphanumerisch\n  const idMatch =\n    text.match(/\"PolicyID\"\\s*:\\s*\"([^\"]+)\"/i) ||\n    text.match(/PolicyID\\s*[:=]\\s*([A-Za-z0-9_-]+)/i);\n\n  // 2) Function: Wort oder String\n  const fnMatch =\n    text.match(/\"Function\"\\s*:\\s*\"([^\"]+)\"/i) ||\n    text.match(/Function\\s*[:=]\\s*([A-Za-z0-9_-]+)/i);\n\n  return {\n    PolicyID: idMatch ? idMatch[1] : '',\n    Function: fnMatch ? fnMatch[1] : '',\n  };\n}\n\nreturn items.map(item => {\n  const src = item.json.ai_output ?? item.json.output ?? item.json; // wo deine Antwort liegt\n\n  // Fall A: bereits Objekt mit PolicyID/Function\n  if (src && typeof src === 'object' && ('PolicyID' in src || 'Function' in src)) {\n    const PolicyID = String(src.PolicyID ?? '').trim();\n    const FunctionName = String(src.Function ?? '').trim();\n    if (!PolicyID) {\n      throw new Error('PolicyID ist leer (Objekt-Fall). Prüfe die Quelle von ai_output.');\n    }\n    return { json: { PolicyID, Function: FunctionName || 'ChangeAddress' } };\n  }\n\n  // Fall B: JSON-String -> parsen\n  const parsed = tryParseJsonMaybe(src);\n  if (parsed && typeof parsed === 'object') {\n    const PolicyID = String(parsed.PolicyID ?? '').trim();\n    const FunctionName = String(parsed.Function ?? '').trim();\n    if (!PolicyID) {\n      throw new Error('PolicyID ist leer (geparster JSON-String).');\n    }\n    return { json: { PolicyID, Function: FunctionName || 'ChangeAddress' } };\n  }\n\n  // Fall C: Fallback – rohe Textausgabe robust parsen\n  const text = typeof src === 'string' ? src : String(src ?? '');\n  const { PolicyID, Function: FunctionName } = extractFromLooseText(text);\n\n  if (!PolicyID) {\n    // letzte Rettung: vielleicht liegt die ID in einem anderen Feld (z. B. customerId/policyId)\n    const fallbackId = item.json.policyId ?? item.json.customerId ?? '';\n    if (!fallbackId) {\n      // Fürs Debugging alles mitschicken\n      throw new Error(`Konnte PolicyID nicht extrahieren. Quelle: ${JSON.stringify(src)}`);\n    }\n    return { json: { PolicyID: String(fallbackId), Function: FunctionName || 'ChangeAddress' } };\n  }\n\n  return { json: { PolicyID, Function: FunctionName || 'ChangeAddress' } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        1504
      ],
      "id": "543c0d03-817a-4c01-bffc-4160e7f707c5",
      "name": "JSON to Variables"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Thank you very much for supplying your PolicyID with the number POL-{{ $('JSON to Variables').item.json.PolicyID }}. We found the following Policy Typ: {{ $('Search records').item.json['Policy Type'] }}.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4432,
        1328
      ],
      "id": "94249ef7-2fa5-4f83-8d97-11d6e0cc5db2",
      "name": "Debugging Positive: PolicyID found",
      "webhookId": "ec8d1a01-a60c-48fa-989a-6c87e140c962",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) node in n8n\n// Erwartet pro Item ein Feld `ai_output` (String ODER Objekt).\n// Gibt pro Item ein JSON-Objekt mit { PolicyID, Function } zurück.\n\nfunction tryParseJsonMaybe(str) {\n  if (typeof str !== 'string') return str;\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nfunction extractFromLooseText(text) {\n  if (typeof text !== 'string') return { PolicyID: '', Function: '' };\n\n  // Beispiel: {\"PolicyID\": \"92863673\", \"Function\": \"ChangeAddress\"} ohne sauberes JSON\n  // oder: PolicyID: 92863673; Function: ChangeAddress\n  // oder: Zeilenweise Ausgabe etc.\n\n  // 1) PolicyID: Zahl oder alphanumerisch\n  const idMatch =\n    text.match(/\"PolicyID\"\\s*:\\s*\"([^\"]+)\"/i) ||\n    text.match(/PolicyID\\s*[:=]\\s*([A-Za-z0-9_-]+)/i);\n\n  // 2) Function: Wort oder String\n  const fnMatch =\n    text.match(/\"Function\"\\s*:\\s*\"([^\"]+)\"/i) ||\n    text.match(/Function\\s*[:=]\\s*([A-Za-z0-9_-]+)/i);\n\n  return {\n    PolicyID: idMatch ? idMatch[1] : '',\n    Function: fnMatch ? fnMatch[1] : '',\n  };\n}\n\nreturn items.map(item => {\n  const src = item.json.ai_output ?? item.json.output ?? item.json; // wo deine Antwort liegt\n\n  // Fall A: bereits Objekt mit PolicyID/Function\n  if (src && typeof src === 'object' && ('PolicyID' in src || 'Function' in src)) {\n    const PolicyID = String(src.PolicyID ?? '').trim();\n    const FunctionName = String(src.Function ?? '').trim();\n    if (!PolicyID) {\n      throw new Error('PolicyID ist leer (Objekt-Fall). Prüfe die Quelle von ai_output.');\n    }\n    return { json: { PolicyID, Function: FunctionName || 'ChangeAddress' } };\n  }\n\n  // Fall B: JSON-String -> parsen\n  const parsed = tryParseJsonMaybe(src);\n  if (parsed && typeof parsed === 'object') {\n    const PolicyID = String(parsed.PolicyID ?? '').trim();\n    const FunctionName = String(parsed.Function ?? '').trim();\n    if (!PolicyID) {\n      throw new Error('PolicyID ist leer (geparster JSON-String).');\n    }\n    return { json: { PolicyID, Function: FunctionName || 'ChangeAddress' } };\n  }\n\n  // Fall C: Fallback – rohe Textausgabe robust parsen\n  const text = typeof src === 'string' ? src : String(src ?? '');\n  const { PolicyID, Function: FunctionName } = extractFromLooseText(text);\n\n  if (!PolicyID) {\n    // letzte Rettung: vielleicht liegt die ID in einem anderen Feld (z. B. customerId/policyId)\n    const fallbackId = item.json.policyId ?? item.json.customerId ?? '';\n    if (!fallbackId) {\n      // Fürs Debugging alles mitschicken\n      throw new Error(`Konnte PolicyID nicht extrahieren. Quelle: ${JSON.stringify(src)}`);\n    }\n    return { json: { PolicyID: String(fallbackId), Function: FunctionName || 'ChangeAddress' } };\n  }\n\n  return { json: { PolicyID, Function: FunctionName || ' ClaimPolicy' } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3776,
        2000
      ],
      "id": "e94f2ed9-92de-432d-b5e5-03a8d70c4bbc",
      "name": "JSON to Variables1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant working at an insurance company.\nYou must check in Airtable if the given PolicyID exists in the table \"Policies\".\nIf it exists, output exactly:\n{ \"exists\": True }\nelse do not output anything",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4160,
        2224
      ],
      "id": "17d6c0e2-a4df-48c4-a338-3fe86d2c2208",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4160,
        2464
      ],
      "id": "b57caf22-d8c6-4dde-b87f-f514f6aba56b",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "EJQ3gzROb1XSD6YT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4256,
        2464
      ],
      "id": "6195fe36-de38-49bb-ac89-791951b8f164",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "```json {   \"exists\": 1 } ```",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "a6114938-f50f-4319-b1b6-d776fe2774fc"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        4496,
        2224
      ],
      "id": "d6409905-b110-4a34-b8b2-f9e0f995474e",
      "name": "Switch2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an insurance employee. You are receiving information from a client about an incident that just happened. You need to update the columns in the table at the voices \"Incident Type\" and \"Description\"\n\nAfter that you have to send a message to the user of what you just added\n\nfor the datetime fields just use the current date and hour\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4752,
        2224
      ],
      "id": "348394a4-f278-42f0-823c-5a24387214a9",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4752,
        2416
      ],
      "id": "049285ac-08bc-43a8-9cf1-d4287989b837",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "EJQ3gzROb1XSD6YT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4848,
        2416
      ],
      "id": "60bc610c-7101-4889-80b1-b039ca6e528e",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "We couldn't find that policy ID in our database. Please provide your policy ID again.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4640,
        2640
      ],
      "id": "1cc92262-f146-46e1-8776-9edd2e6f5f9f",
      "name": "Ask again for the policy ID",
      "webhookId": "2fdd6b92-e8e2-4315-8211-0918426139ba",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent3').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5104,
        2224
      ],
      "id": "e853d9f9-7ede-4565-b758-d734c2280e16",
      "name": "Send a text message",
      "webhookId": "e4bcaae3-65de-4792-91dc-740e9ffae4d4",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "value": "tblOx5k6YtiduLt5E",
          "mode": "list",
          "cachedResultName": "Claims",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt/tblOx5k6YtiduLt5E"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        4368,
        2416
      ],
      "id": "ca7cf21d-5b59-4879-b02c-d9174b5048e3",
      "name": "Search records in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "value": "tblOx5k6YtiduLt5E",
          "mode": "list",
          "cachedResultName": "Claims",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt/tblOx5k6YtiduLt5E"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estimated Damage": 0,
            "Approved Amount": 0,
            "Policy ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Policy_ID', ``, 'string') }}",
            "Customer ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_ID', ``, 'string') }}",
            "Date Reported": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_Reported', ``, 'string') }}",
            "Incident Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Incident_Date', ``, 'string') }}",
            "Incident Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Incident_Type', ``, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "Status": "Submitted"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Policy ID",
              "displayName": "Policy ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Reported",
              "displayName": "Date Reported",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Incident Date",
              "displayName": "Incident Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Incident Type",
              "displayName": "Incident Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Under Review",
                  "value": "Under Review"
                },
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Submitted",
                  "value": "Submitted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated Damage",
              "displayName": "Estimated Damage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved Amount",
              "displayName": "Approved Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Notes",
              "displayName": "Agent Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        5008,
        2416
      ],
      "id": "e59a6622-e01b-4de8-b1a8-5ecebaffd8fc",
      "name": "Create a record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check for Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Ask for customerID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Audio": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check for text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON to Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JSON to Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Negative: PolicyID Wrong",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "InputAddress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Put JSON into variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put JSON into variables": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Confirmation of Changing the Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Variables": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Variables1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e845cd4-474b-40f9-9f01-8f7b7d1e4e05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2709b3404872c07d50d3a3f2e05261bfc74b8f94c3e697b5d635899ec2c8637b"
  },
  "id": "znMWsfSMG3lvZLTg",
  "tags": []
}