src/Fixing the loop - Router copy.json
{
  "name": "Fixing the loop - Router copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        448
      ],
      "id": "684bb8e6-11c4-4303-a7b6-0ddea177c128",
      "name": "Telegram Trigger",
      "webhookId": "0a23714b-2267-4077-a2c5-59ce70553e18",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "value": "tbl1D2LY3VvpkNKwM",
          "mode": "list",
          "cachedResultName": "Session",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt/tbl1D2LY3VvpkNKwM"
        },
        "filterByFormula": "=AND(\n  {ChatID} = '{{$json.message.chat.id}}',\n  {ResumeURL} != BLANK()\n)\n",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1296,
        544
      ],
      "id": "bc8cfbb3-08a5-4c6c-9103-beb3877af19e",
      "name": "look for chatid",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('look for chatid').item.json.ResumeURL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Merge').item.json.message.text }}"
            },
            {
              "name": "chatId",
              "value": "={{ $('Merge').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -912,
        432
      ],
      "id": "f23fb2c3-40ce-4ccb-a0a5-8024f09f3a05",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mwq9gPl7I557dTt8",
          "mode": "list",
          "cachedResultUrl": "/workflow/mwq9gPl7I557dTt8",
          "cachedResultName": "FORGE Hackathon — Fixing the loop"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Text": "={{ $('Merge').item.json.text }}",
            "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}"
          },
          "matchingColumns": [
            "chatID"
          ],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -912,
        608
      ],
      "id": "38f84229-7692-4212-a108-9cdf35a90e78",
      "name": "Call 'Fixing the loop'"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ResumeURL }}",
                    "rightValue": "https",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "0264a6f3-c614-4cac-8a8d-7540d61855d2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "372fe8a6-0d15-468d-95e1-290ced2c82fb",
                    "leftValue": "={{ $json.ResumeURL }}",
                    "rightValue": "empty",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1120,
        512
      ],
      "id": "1e473238-46f9-46be-80f2-64690ecd60ef",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appFzNCLQCfEF5zjt",
          "mode": "list",
          "cachedResultName": "InsurTech Hackathon",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt"
        },
        "table": {
          "__rl": true,
          "value": "tbl1D2LY3VvpkNKwM",
          "mode": "list",
          "cachedResultName": "Session",
          "cachedResultUrl": "https://airtable.com/appFzNCLQCfEF5zjt/tbl1D2LY3VvpkNKwM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ChatID": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "State": "=empty",
            "ResumeURL": "="
          },
          "matchingColumns": [
            "ChatID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ChatID",
              "displayName": "ChatID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ResumeURL",
              "displayName": "ResumeURL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": false,
          "updateAllMatches": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -688,
        432
      ],
      "id": "cf6a8f94-8652-47f9-80ff-d773780be0ea",
      "name": "Delete the value of resume",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "N9JjwdQ2EJOp9uMH",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "We deleted the URL",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -480,
        432
      ],
      "id": "83350fdd-84b8-427c-bc3a-770ae1b5d1d4",
      "name": "Send a text message",
      "webhookId": "6fb1e659-b26e-4422-b3e2-d4ecdae2850b",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "944a4c09-59fb-4b76-8150-5d2266489bbd",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2048,
        448
      ],
      "id": "9537841d-2a5f-49e8-8845-9f228dd89465",
      "name": "Check for Audio"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1808,
        432
      ],
      "id": "e01ae9de-8164-4297-a63f-4db722c98c56",
      "name": "Get a file",
      "webhookId": "1aa0762f-70ab-4c3a-abd0-5947fbd84bbc",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -1664,
        432
      ],
      "id": "7a04b70c-8c51-41c3-8fe0-78a5f0cf577a",
      "name": "Transcribe audio or video",
      "credentials": {
        "elevenLabsApi": {
          "id": "qjuV8Nko1t3xBXrR",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "944a4c09-59fb-4b76-8150-5d2266489bbd",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        656
      ],
      "id": "ed8326fb-d23c-4e13-9307-bf1d5291542f",
      "name": "check for text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1472,
        560
      ],
      "id": "9bca0eaa-e8b7-4554-bd3d-d25c3f572067",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Thank you for your response. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        608
      ],
      "id": "6a1f2069-a5fb-4f77-b0ba-3ec31aa84c41",
      "name": "Send a text message1",
      "webhookId": "6fb1e659-b26e-4422-b3e2-d4ecdae2850b",
      "credentials": {
        "telegramApi": {
          "id": "FlugRxM3CZejByuJ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check for Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "look for chatid": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Fixing the loop'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Delete the value of resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete the value of resume": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Audio": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check for text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe audio or video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio or video": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "look for chatid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Fixing the loop'": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3bb4f5e-c3ea-42cc-a2eb-9490017d9ddd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2709b3404872c07d50d3a3f2e05261bfc74b8f94c3e697b5d635899ec2c8637b"
  },
  "id": "YqrmICid5VL45SUu",
  "tags": []
}